<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Multiplication tables</span>
</nav>

<div class="container content">

  <div class="row mt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3>Add new multiplication table</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="newTable">New table:</label>
              <input id="newTable" type="number" class="form-control" #newTable>
            </div>
            <div class="col text-center">
              <button type="submit" class="btn btn-primary" (click)="save(newTable.value)">Add</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <h2>Current tables:</h2>
  </div>
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let t of tables">
        {{t}} table
      </li>
    </ul>
  </div>

  <div class="row">
    <h2>Multiplication tables:</h2>
  </div>
  <div class="row">
    <app-table *ngFor="let t of tables" [table]="t"></app-table>
  </div>

</div>
